@using EntityLayer.Entities;
@model List<Employee>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="clearfix">
    <h4 class="card-title">Takım Arkadaşı Listesi</h4>
    <a class="btn btn-primary float-right" href="/Admin/Employee/AddEmployee">Takım Arkadaşı Ekle</a>
</div>


<div class="table-responsive">
    <table style="color:white" class="table table-bordered mb-5 mt-2">
        <thead>
            <tr>
                <td width="0%"> ID </td>
                <td width="100%">Takım Arkadaşı</td>
                <td width="0%"> Sil </td>
                <td width="0%"> Durum </td>
                <td width="0%"> Güncelle </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="py-1">
                        @item.EmployeeID
                    </td>
                    <td> @item.Name </td>
                    <td><a class="btn btn-danger" href="/Admin/Employee/DeleteEmployee/@item.EmployeeID">Sil</a></td>
                    <td>
                        @if (item.Status)
                        {
                            <a class="btn btn-success" href="/Admin/Employee/ToggleEmployeeStatus/@item.EmployeeID">Kapat</a>
                        }
                        else
                        {
                            <a class="btn btn-danger" href="/Admin/Employee/ToggleEmployeeStatus/@item.EmployeeID">Aç</a>
                        }

                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Güncelle </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton6">
                                <h6 class="dropdown-header">Diller</h6>
                                @foreach (var language in (List<Language>)ViewBag.Languages)
                                {
                                    <form asp-action="EditEmployee" asp-area="Admin" asp-controller="Employee" method="get">
                                        <input hidden name="EmployeeID" value="@item.EmployeeID" />
                                        <input hidden name="LanguageID" value="@language.LanguageID" />
                                        <button class="dropdown-item" type="submit">@language.Code</button>
                                    </form>
                                }


                            </div>
                        </div>
                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>


